<!DOCTYPE html>
<html>
<head>
  <title>School Information System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<!-- <nav class="navbar bg-red">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a class = "text-red" href="/">Home</a></li>
      <li><a id = "ha" class = "text-white" href="/academicstaff/modules">Modules</a></li>
      <li><a class = "text-white" href="/academicstaff/coursework">Coursework</a></li>
      <li><a class = "text-white" href="/academicstaff/exams">Exams</a></li>
    </ul>
    <div class="nav navbar-nav navbar-right">
      <a href="/logout" class="navbar-brand text-white"><strong>Logout</strong></a>
    </div>
  </div>
</nav> -->