<!DOCTYPE html>
<html>
<head>
  <title>School Information System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav class="navbar navbar-default bg-red">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Modules</a></li>
      <li><a href="#">Coursework</a></li>
      <li><a href="/logout">Exams</a></li>
    </ul>
    <div class="nav navbar-nav navbar-right">
      <a href="/logout" class="navbar-brand"><strong>Logout</strong></a>
    </div>
  </div>
</nav>