<!DOCTYPE html>
<html>
   <head>
      <title>School Information System</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
   </head>
   <body>
      <div class="container-fluid black-bg text-white">
         <div class="row">
            <div class="col-sm-8">
               <div class="row">
                  <div class="col-sm-12">
                     <h1 class="faculty-name-header">Faculty of Engineering</h1>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <h3>School Information System</h3>
                  </div>
               </div>
            </div>
            <div class="col-sm-4">
               <img src="/img/University_of_Leeds_Logo.svg" class="pull-right" alt="logo">
            </div>
         </div>
      </div>