<% include partials/academicstaff_header %>
<div class="container">
	<h1>Logged in as <%= academicstaff['Username']%></h1>
	<p><%= academicstaff['FirstName']%></p>
	<p><%= academicstaff['LastName']%></p>
</div>
<% include partials/footer %>