<% include partials/academicstaff_header %>
<div class="container">
	<h1>Successfully added the coursework!</h1>
	<a class="btn btn-default" href="/academicstaff/coursework/add"> Add another one</a>
</div>
<% include partials/footer %>