<% include partials/academicstaff_header %>
<div class="container">
   <h1>Coursework</h1>
   <form ref='uploadForm' encType="multipart/form-data" class="form-horizontal" action="/academicstaff/coursework/uploadcwk" method="post">
      <div class="form-group">
         <label class="control-label col-sm-2" for="modules">Module:</label>
         <div class="col-sm-2">
            <select class="form-control" id="modules" name="ModuleCode">
               <%modules.forEach(function(module){%>
               <option><%= module['ModuleCode'] %> </option>
               <%})%>
            </select>
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="no">Coursework Number:</label>
         <div class="col-sm-2">
            <input type="number" class ="form-control" id = "no" name="CwkNumber" min="1" max="5">      
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="weighting" >Weighting(%):</label>
         <div class="col-sm-2">
            <input type="number" class ="form-control" name="CwkWeighting" id="weighting" min="1" max="100">   
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="maxMark" >Max Mark:</label>
         <div class="col-sm-2">
            <input type="number" class ="form-control" name="MaxMark" id="maxMark" min="1" max="120">      
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="setDate" >Set Date:</label>
         <div class="col-sm-2">
            <input type="text" name ="SetDate" class="form-control" id ="setDate" placeholder="DD/MM/YYYY"> 
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="dueDate" >Due Date:</label>
         <div class="col-sm-2">
            <input type="text" name ="DueDate" class="form-control" id ="dueDate" placeholder="DD/MM/YYYY"> 
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="returnDate" >Return Date:</label>
         <div class="col-sm-2">
            <input type="text" name ="ReturnDate" class="form-control" id ="returnDate" placeholder="DD/MM/YYYY"> 
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="notes">Notes:</label>
         <div class="col-sm-2">
            <input type="text" name = "Notes" class ="form-control" id ="notes" value="" placeholder="Optional" maxlength="255"> 
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="cwkFile" >File:</label>
         <div class="col-sm-4">
            <input type="file" name = "CwkFile" class ="form-control" id ="cwkFile" value=""> 
            <span id="wrongFormatMessage" class="help-block">Coursework file must be a PDF!</span>
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="uploadCoursework" class="btn btn-default" disabled="disabled">Upload</button>
         </div>
      </div>
   </form>
</div>
<% include partials/footer %>