<% include partials/academicstaff_header %>
<div class="container">
	<h1>Invalid DueDate!</h1>
	<p>Other coursework is due to this date: 
		<%=dueDate %>
	</p>
	<a class="btn btn-default" href="/academicstaff/coursework/add"> Try again</a>
</div>
<% include partials/footer %>

