<% include partials/academicstaff_header %>
<div class="container">
	<h1>Home</h1>
	<p>Username: <%= academicstaff['Username']%></p>
	<p>First name: <%= academicstaff['FirstName']%></p>
	<p>Last name: <%= academicstaff['LastName']%></p>
	<p>Email: <%= academicstaff['Email']%></p>
</div>
<% include partials/footer %>