<% include partials/student_header %>
<div class="container">
	<h1>Logged in as <%= student['Username']%></h1>
	<p><%= student['FirstName']%></p>
	<p><%= student['LastName']%></p>
</div>
<% include partials/footer %>